nav{
    height: 60px;
    background-color:gray;
    color: white;
    margin-bottom: 40px;
    display: flex;

}
h1{
    margin: auto;
}

p{
    margin: 16px 0;
}
h3{
    margin: 16px 10px;
}
h4{
    margin-bottom:20px;
}
button{
    background-color:#057bff;
    border: none;
    border-radius: 4px;
    height:30px;
    width: 30px;
    color:white;
    padding: 0;
}
input{
    height: 30px;
    padding: 0 0 0 5px;
    border: 1px solid lightgray;
    border-radius: 4px;

}

#search-tab{
    height: 100%;
    background-color: rgb(233, 233, 233);
    border-radius: 4px;
    padding: 20px 10px;
    
    
}

.location-forecast{
    border: 1px solid lightgray;
    border-radius: 3px;
}
.searched{
    padding: 5px 0px 5px 16px;
    border: 1px solid lightgray;
    border-radius: 4px;
    background: gray;
    color: white;
}

